.sidebar {
    height:100vh;
    background-color: darkgrey;
    width: 240px;
    padding: 20px 0px;
    box-shadow: darkslategray 1px 0px 7px;
    position: absolute;
    display: flex;
    align-content: center;
    flex-direction: column;

}
.sidebar-item{
    grid-column: 1;
    height: 30px;
    padding: 10px;
    transition: box-shadow 100ms, background-color 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item:hover{
    box-shadow: 1px 1px 6px dimgrey;
    transition: box-shadow 100ms, background-color 100ms;
    cursor: pointer;
    background-color: grey;
}

.sidebar-title{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}
.sidebar-item.active {
    box-shadow: 1px 1px 6px dimgrey;
    transition: box-shadow 100ms, background-color 100ms;
    cursor: none;
    background-color: rgb(128, 114, 190);
    pointer-events: none;
}

.main{
    grid-column: 2;
    padding: 20px
}

#add-game{
    border:none;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    transition: box-shadow 100ms, background-color 100ms;
}

#add-game:hover{
    box-shadow: 1px 2px 7px #4e4e4e;
    cursor: pointer;
    transition: box-shadow 100ms, background-color 100ms;
    font-weight: 500;
}

#add-game:active, #add-game:focus{
    outline: none;
    box-shadow:inset 1px 2px 7px #4e4e4e;;
}
