<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://use.fontawesome.com/b7899a345c.js;" />
    <script src="./view-scripts/include-html.js"></script>
    <script src="./view-scripts/home.js"></script>
    
    <link href="./styles/index.css" rel="stylesheet">
    <link href="./styles/app.css" rel="stylesheet">

    <script src="https://use.fontawesome.com/b7899a345c.js"></script>

    <meta charset="UTF-8">
    <title>Electron App I have no name for yet</title>
    
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-title">
            Game Launcher
        </div>
        <div class="sidebar-item active" value="game-page">
            Games
        </div>
        <div class="sidebar-item" value="other-page">
            TBD
        </div>
    </div>
    <div class="main">
        <div id="games-page" w3-include-html="./pages/games.html"></div>
        <div id="other-page" w3-include-html=""></div>
    </div>
</body>
</html>

    