<div>
    <div class='top-my-games'>
        <h1>Your Games</h1>
        <div class="horizontal-buttons">
            <button id="add-game"><span>Add Game +</span></button>
            <!-- <button id="add-path"><span>Add Path +</span></button> -->
        </div>
    </div>
    <div class="bottom-my-games">
        <div id="myGames">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="add-game-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id='add-game-form'>
            <h2> Add Game </h2>

            <div class='login-row'>
                <label for="file-path">Game Destination</label>
                <div>
                    <button type="button" id="file-select" >Choose Game File</button>
                    <input id="file-path" name="file-path" type='text' disabled/>
                    <div class='error-row'></div>
                </div>
            </div> 
            <div class='login-row'>
                <label for="image-path">Icon Destination</label>
                <div>
                    <button type="button" id="image-select" >Choose Image</button>
                    <img id='game-image' width='50', height="50">
                    <input id="image-path" name="image-path" type='text' disabled/>
                    <div class='error-row'></div>
                </div>
                
            </div> 
            <div class='login-row'>
                <label for="game-name">Game Name</label>
                <input id='game-name' name="game-name" >
                <div class='error-row'></div>
            </div>   
            <button id='submit-game' type='submit'>Add Game</button>
      </form>
    </div>
  
</div>

